.token-overview-column1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.token-overview-column1 .tk-view-row{
    padding: 1em;
    width: 80%;
    height: 100%;
    align-items: center;
}
.token-overview-column1 .tk-view-row h1{
    font-size: 1.3em;
    font-weight: 500;
    word-spacing: 0;
}
.token-overview-column1 .tk-view-row p{
    width: 60%;
    font-size: 1em;
    margin-top: 0.6em;
}
.token-overview-column1 .tk-view-row a{
    color: black;
}



.token-overview-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.token-overview-container .token-overview-column2{
    width: 78%;
    margin-right: 0.5em;
    height: 100%;
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
}
.token-overview-column2 .tk-view-box{
    width: 33%;
    height: 50px;
    align-items: center;
    padding: 1em;
    background-color: #fff;
}
.token-overview-column2 .tk-view-box p{
    font-size: 0.7em;
    margin-top: -1em;
}
.token-overview-column2 .tk-view-box h3{
    font-weight: 600;
}
.token-overview-column2 .tk-view-box:nth-child(1){
    border-right: 1px solid rgba(0, 0, 0, 0.223);
}
.token-overview-column2 .tk-view-box:nth-child(2){
    border-right: 1px solid rgba(0, 0, 0, 0.223);
}



.token-overview-container2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.token-overview-container2 .token-column1{
    width: 78%;
    margin-right: 0.5em;
    height: 100%;
    border-radius: 5px;
    margin-top: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.token-overview-container2 .token-column1 .first-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.token-overview-container2 .token-column1 .first-box h2{
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: 500;
    word-spacing: 0;
}
.token-overview-container2 .token-column1 .first-box div{
    display: flex;
    margin-top: 0.7em;
    align-items: center;
    position: relative;
}
.token-overview-container2 .token-column1 .first-box div select{
    width: 33%;
    padding:0.7em 1em;
    margin-left: 0.7em;
    border: 1px solid rgba(0, 0, 0, 0.262);
    outline: 1px solid rgba(0, 0, 0, 0.262);
    border-radius: 5px;
    outline: #1e40b1;
    position: relative;
    cursor: pointer;
}
.token-overview-container2 .token-column1 .first-box div .select-token-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    color: gray;
    padding: 2px;
    left: 41%;
}

.token-overview-container2 .token-column1 .second-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;
}
.token-overview-container2 .token-column1 .second-box .row1{
    display: flex;
    gap: 2em;
    margin-left: 15%;
}
.token-overview-container2 .token-column1 .second-box .row1 .div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.token-overview-container2 .token-column1 .second-box .row1 div p{
    font-size: 0.8em;
}
.token-overview-container2 .token-column1 .second-box .row1 div h4{
   font-weight: 600;
}
.token-overview-container2 .token-column1 .second-box .row1 .div:nth-child(1) span{
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
}
.token-overview-container2 .token-column1 .second-box .row1 .div:nth-child(2) span{
    width: 15px;
    height: 15px;
    background-color: #bfdbfe;
    border-radius: 50%;
}

.token-overview-container2 .token-column1 .second-box .row2{
    margin-top: -1em;
    align-items: center;
    gap: 6px;
    display: flex;
    flex-direction: column;
}
.token-overview-container2 .token-column1 .second-box .row2 p{
    font-size: 1em;
    margin-left: 1em;
}
.token-overview-container2 .token-column1 .second-box .row2 a{
    font-size: 1em;
    text-decoration: none;
    color: blue;
    border-radius: 5px;
    font-weight: 500;
    padding: 0.5em 0.8em;
    border: 1px solid rgba(0, 0, 0, 0.162);
}
.token-overview-container2 .token-column1 .second-box .row2 a:hover{
    background-color: #dbeafe;
}



.token-overview-container3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.my-team-token-lock-container{
    width: 78%;
    margin-right: 0.5em;
    height: 100%;
    border-radius: 5px;
    margin-top: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.my-team-token-lock-container h3{
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: 500;
    word-spacing: 0;
}
.search-top-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    flex-wrap: wrap;
    align-items:center;
    margin-bottom: 0.5em;
}
.search-top-box div{
    display: flex;
    width: 46%;
    align-items: center;
}
.search-top-box div .input-box{
    width: 380px;
    height: 46px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.181);
    align-items: center;
    border-radius: 5px;
    margin-right: 0.5em;
}
.search-top-box div .input-box input{
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    width: 335px;
    height: 40px;
    right: 3px;
    font-size: 1em;
}
.search-top-box div .input-box .svg1{
    width: 1.3em;
    height: 1.3em;
    color: gray;
    margin-left: 0.5em;
}
.search-top-box div button{
    border: 1px solid rgba(0, 0, 0, 0.153);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}
.search-top-box div button:hover{
    background-color: #dbeafe;
}
.search-top-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.736);
    font-size: 1em;
    font-weight: 500;
    padding: 0.7em 0.9em;
    border-radius: 5px;
    margin-bottom: 0.5em;
}
.search-top-box a:hover{
    background-color: blue;
}

/* filer box here */
.filter-box-container{
    display: none;
    position: fixed;
    top: 0;
    left: o;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.188);
    backdrop-filter: blur(2px);
    z-index: 999;
}
.filter-box-column{
    width: 44%;
    height: 86%;
    border-radius: 12px;
    padding: 1.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-box-column .filter-row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}
.filter-box-column .filter-row1 h2{
    font-weight: 500;
    font-size: 1.6em;
}
.filter-box-column .filter-row1 svg{
    color: gray;
    cursor: pointer;
    transition: all 0.1s;
}
.filter-box-column .filter-row1 svg:hover{
    color: black;
}
.filter-box-column .filter-row2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.7em;
}
.filter-box-column .filter-row2 span{
    font-size: 1em;
    font-weight: 500;
    padding-bottom: 0.2em;
}
.filter-box-column .filter-row2 div{
    display: flex;
    width: 100%;
    height: 44px;
    position: relative;
}
.filter-box-column .filter-row2 div input{
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.217);
    width: 100%;
    outline-color: #80b9ff;
    padding: 0 1em;
    font-size: 1em;
    position: relative;
}
.filter-box-column .filter-row2 div svg{
    position: absolute;
    right: 1.3%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.filter-box-column .filter-row2 div select{
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.217);
    width: 100%;
    outline: none;
    padding: 0 1em;
    font-size: 0.9em;
    position: relative;
}
.filter-box-column .filter-last-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-box-column .filter-last-row a:nth-child(1){
    text-decoration: none;
    color: rgb(82, 82, 255);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.096);
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    padding: 0.6em 3.1em;
    transition: all 0.3s;
}
.filter-box-column .filter-last-row a:nth-child(2){
    text-decoration: none;
    color: red;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.096);
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    padding: 0.6em 3em;
    transition: all 0.3s;
    
}
.filter-box-column .filter-last-row a:nth-child(1):hover{
    background-color: #dbeafe;
}
.filter-box-column .filter-last-row a:nth-child(2):hover{
    background-color: #dbeafe;
}
.filter-box-column .filter-last-row a:nth-child(3){
    text-decoration: none;
    color: white;
    background-color: rgb(59, 130, 246);
    border: 1px solid rgba(0, 0, 0, 0.096);
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    padding: 0.6em 3.3em;
}
/* end */





.token-overview-container4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.token-overview-container4 .token-details-container{
    width: 78%;
    margin-right: 0.5em;
    margin-top: -3px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.token-details-container .top-heading-box{
    border-top: 1px solid rgba(0, 0, 0, 0.127);
    border-bottom:1px solid rgba(0, 0, 0, 0.119); ;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
}
.token-details-container .top-heading-box p{
    font-size: 0.7em;
    margin-right: 102px;
    color: gray;
    cursor: default;
}

.token-details-container .borad-chart-column{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.token-details-container .borad-chart-column:hover .board-chart-row1{
    background-color:#f9fafb ;
}

.borad-chart-column .board-chart-row1{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.borad-chart-column .board-chart-row1 .board-chart-box1{
    display: flex;
    padding: 0.6em 1em;
    align-items: center;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 .div1{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 155px;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 .div2{
    width: 180px;
    padding-left: 0.5em;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 .div3{
    width: 200px;
    margin-right: 2em;
    padding-left: 1em;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 .div4{
    width: 180px;
    margin-right: 2em;
    padding-left: 1em;
}

.borad-chart-column .board-chart-row1 .board-chart-box1 .div5{
    width: 130px;
    display: flex;
    align-items: center;
    background-color: #dbeafe;
    padding:0.4em 0.8em ;
    border-radius: 50px;
    gap: 4px;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 p{
    font-size: 0.9em;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 span{
    font-size: 0.7em;
    color: gray;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 h6{
    font-size: 0.9em;
    color: #1e40b1;
    
}

.borad-chart-column .board-chart-row2{
    width: 20%;
    height: 100%;
}
.borad-chart-column .board-chart-row2 .box11{
    width: 100%;
    display: flex;
    align-items: center;
    padding:1em;
    padding-left: 1.5em;
}
.borad-chart-column .board-chart-row2 .box11 a{
    text-decoration: none;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0.4em 0.7em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.121);
}



.bottom-last-container{
    width: 100%;
    padding: 1.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-last-container span{ 
    font-size: 0.8em;
}
.bottom-last-container .bottom-box2{
    display: flex;
    gap: 5px;
    align-items: center;
}
.bottom-last-container .bottom-box2 div{
    display: flex;
}
.bottom-last-container .bottom-box2 p{
    font-size: 0.9em;
}
.bottom-last-container .bottom-box2 select{
    width: 45px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 4px;
    cursor: pointer;
    outline: blue;
}
.bottom-last-container .bottom-box2 button:hover{
    background-color: rgb(181, 181, 181);
    cursor: pointer;
}
.bottom-last-container .bottom-box2 button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.bottom-last-container .bottom-box2 button:nth-child(1){
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.bottom-last-container .bottom-box2 button:nth-child(3){
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.bottom-last-container .bottom-box2 .span{
    border: 1px solid rgba(0, 0, 0, 0.151);
    height: 30px;
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: center;
}




/* team token lock details headen box here */
.team-token-lock-details-container{
    display: none;
    position: fixed;
    top: 0;
    left: o;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.188);
    backdrop-filter: blur(3px);
    z-index: 999;
}
.team-token-lock-column{
    width: 41.5%;
    height: 64%;
    border-radius: 12px;
    padding: 1.3em 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-token-lock-column .team-token-row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}
.team-token-lock-column .team-token-row1 h2{
    font-weight: 600;
    font-size: 1.5em;
    word-spacing: 0;
}
.team-token-lock-column .team-token-row1 svg{
    color: gray;
    cursor: pointer;
    transition: all 0.1s;
}
.team-token-lock-column .team-token-row1 svg:hover{
    color: black;
}
.team-token-lock-column .team-token-row2{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.team-token-lock-column .team-token-row2 div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.team-token-lock-column .team-token-row2 div span{
    color: gray;
    font-size: 1em;
}
.team-token-lock-column .team-token-row2 div h4{
    padding: 0.4em 0.7em ;
    font-size: 0.9em;
    background-color: #dcfce7;
    color: #167139;
    border-radius: 20px;
}

.team-token-lock-column .team-token-row3{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color:rgb(4, 184, 22) ;
    margin-top: 12px;
    margin-bottom: 10px;
}

.team-token-lock-column .team-token-row4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.team-token-lock-column .team-token-row4 div p{
    font-weight: 600;
}
.team-token-lock-column .team-token-row4 a{
    text-decoration: none;
    color: blue;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.133);
    padding: 0.6em 3em;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.2s;
}
.team-token-lock-column .team-token-row4 a:hover{
    background-color: #dbeafe;
}