.token-overview-column1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.token-overview-column1 .tk-view-row{
    padding: 1em;
    width: 80%;
    height: 100%;
    align-items: center;
}
.token-overview-column1 .tk-view-row h1{
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: 500;
    word-spacing: 0;
}
.token-overview-column1 .tk-view-row p{
    width: 60%;
    font-size: 1em;
    margin-top: 0.6em;
}
.token-overview-column1 .tk-view-row a{
    color: black;
}



.token-overview-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.token-overview-container .token-overview-column2{
    width: 78%;
    margin-right: 1em;
    height: 100%;
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
}
.token-overview-column2 .tk-view-box{
    width: 33%;
    height: 50px;
    align-items: center;
    padding: 1em;
    background-color: #fff;
}
.token-overview-column2 .tk-view-box p{
    font-size: 0.7em;
    margin-top: -1em;
}
.token-overview-column2 .tk-view-box h3{
    font-weight: 600;
}
.token-overview-column2 .tk-view-box:nth-child(1){
    border-right: 1px solid rgba(0, 0, 0, 0.223);
}
.token-overview-column2 .tk-view-box:nth-child(2){
    border-right: 1px solid rgba(0, 0, 0, 0.223);
}



.token-overview-container2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.token-overview-container2 .token-column1{
    width: 78%;
    margin-right: 1em;
    height: 100%;
    border-radius: 5px;
    margin-top: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.token-overview-container2 .token-column1 .first-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.token-overview-container2 .token-column1 .first-box h2{
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: 500;
    word-spacing: 0;
}
.token-overview-container2 .token-column1 .first-box div{
    display: flex;
    margin-top: 0.7em;
    align-items: center;
}
.token-overview-container2 .token-column1 .first-box div input{
    width: 33%;
    padding:0.8em 1em;
    margin-left: 0.7em;
    border: 1px solid rgba(0, 0, 0, 0.262);
    outline: 1px solid rgba(0, 0, 0, 0.262);
    border-radius: 6px;
}

.token-overview-container2 .token-column1 .second-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;
}
.token-overview-container2 .token-column1 .second-box .row1{
    display: flex;
    gap: 2em;
    margin-left: 15%;
}
.token-overview-container2 .token-column1 .second-box .row1 .div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.token-overview-container2 .token-column1 .second-box .row1 div p{
    font-size: 0.8em;
}
.token-overview-container2 .token-column1 .second-box .row1 div h4{
   font-weight: 600;
}
.token-overview-container2 .token-column1 .second-box .row1 .div:nth-child(1) span{
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
}
.token-overview-container2 .token-column1 .second-box .row1 .div:nth-child(2) span{
    width: 15px;
    height: 15px;
    background-color: #bfdbfe;
    border-radius: 50%;
}

.token-overview-container2 .token-column1 .second-box .row2{
    margin-top: -1em;
    align-items: center;
    gap: 6px;
    display: flex;
    flex-direction: column;
}
.token-overview-container2 .token-column1 .second-box .row2 p{
    font-size: 1em;
    margin-left: 1em;
}
.token-overview-container2 .token-column1 .second-box .row2 a{
    font-size: 1em;
    text-decoration: none;
    color: blue;
    border-radius: 5px;
    font-weight: 500;
    padding: 0.5em 0.8em;
    border: 1px solid rgba(0, 0, 0, 0.162);
}
.token-overview-container2 .token-column1 .second-box .row2 a:hover{
    background-color: #dbeafe;
}



.token-overview-container3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.my-team-token-lock-container{
    width: 78%;
    margin-right: 1em;
    height: 100%;
    border-radius: 5px;
    margin-top: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.my-team-token-lock-container h3{
    margin-top: 0.3em;
    font-size: 1.3em;
    font-weight: 500;
    word-spacing: 0;
}
.search-top-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    flex-wrap: wrap;
    align-items:center;
    margin-bottom: 0.5em;
}
.search-top-box div{
    display: flex;
    margin-left: 0.5em;
    width: 46%;
    align-items: center;
}
.search-top-box div .input-box{
    width: 350px;
    height: 46px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.181);
    align-items: center;
    border-radius: 5px;
    margin-right: 0.5em;
}
.search-top-box div .input-box input{
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    width: 310px;
    height: 45px;
    right: 3px;
}
.search-top-box div .input-box .svg1{
    width: 1.3em;
    height: 1.3em;
    color: gray;
    margin-left: 0.5em;
}
.search-top-box div button{
    border: 1px solid rgba(0, 0, 0, 0.153);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}
.search-top-box div button:hover{
    background-color: #dbeafe;
}
.search-top-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.736);
    font-size: 1em;
    font-weight: 500;
    padding: 0.7em 0.9em;
    border-radius: 5px;
    margin-bottom: 0.5em;
}
.search-top-box a:hover{
    background-color: blue;
}



.token-overview-container4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.token-overview-container4 .token-details-container{
    width: 78%;
    margin-right: 1em;
    margin-top: -3px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.token-details-container .top-heading-box{
    border-top: 1px solid rgba(0, 0, 0, 0.127);
    border-bottom:1px solid rgba(0, 0, 0, 0.119); ;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
}
.token-details-container .top-heading-box p{
    font-size: 0.7em;
    margin-right: 102px;
    color: gray;
    cursor: default;
}

.token-details-container .borad-chart-column{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.token-details-container .borad-chart-column:hover .board-chart-row1{
    background-color:#f9fafb ;
}

.borad-chart-column .board-chart-row1{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.borad-chart-column .board-chart-row1 .board-chart-box1{
    display: flex;
    padding: 0.6em 1em;
    align-items: center;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 .div1{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 155px;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 .div2{
    width: 180px;
    padding-left: 0.5em;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 .div3{
    width: 200px;
    margin-right: 2em;
    padding-left: 1em;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 .div4{
    width: 180px;
    margin-right: 2em;
    padding-left: 1em;
}

.borad-chart-column .board-chart-row1 .board-chart-box1 .div5{
    width: 130px;
    display: flex;
    align-items: center;
    background-color: #dbeafe;
    padding:0.4em 0.8em ;
    border-radius: 50px;
    gap: 4px;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 p{
    font-size: 0.9em;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 span{
    font-size: 0.7em;
    color: gray;
}
.borad-chart-column .board-chart-row1 .board-chart-box1 h6{
    font-size: 0.9em;
    color: #1e40b1;
    
}





.borad-chart-column .board-chart-row2{
    width: 20%;
    height: 100%;
}
.borad-chart-column .board-chart-row2 .box11{
    width: 100%;
    display: flex;
    align-items: center;
    padding:1em;
    padding-left: 1.5em;
}
.borad-chart-column .board-chart-row2 .box11 a{
    text-decoration: none;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0.4em 0.7em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.121);
}
