.dashboard-container{
    width: 80%;
    height: 100%;
    padding:1% 2%;
}
.dashboard-container .heading h2{
    padding-top: 0.4vw;
    font-size: 1.5vw;
    font-weight: 600;
}
.dashboard-container .column1{
    display: flex;
    gap: 2vw;
    align-items: center;
    background-color: #363fb4;
    padding: 2vw;
    border-radius: 7px;
    margin-top: 0.8vw;
}
.dashboard-container .column1 div{
    align-items: center;
}
.dashboard-container .column1 img{
    width: 3.8em;
    height: 3.8em;
    color: transparent;
}
.dashboard-container .column1 h3{
    font-size: 1.7vw;
    color: #fff;
    font-weight: 500;
}
.dashboard-container .column1 p{
    font-size: 1.2vw;
    color: #fff;
    margin-top: 0.5vw;
}

.dashboard-container .column2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding:0.2vw 1.5vw;
    padding-bottom: 1vw;
    border-radius: 7px;
    margin-top: 1vw;
}
.circle1{
    margin-top: 1vw;
    width: 80px;
    height: 80px;
    background-color: #edf4fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle2{
    width: 50px;
    height: 50px;
    background-color: #dbeafe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle2 .logo1{
    color: blue;
    width: 1.5em;
    height: 1.5em;
}
.dashboard-container .column2 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-container .column2 .content h3{
    font-size: 1.5vw;
    font-weight: 500;
    padding-bottom: 0.1vw;
}

.dashboard-container .column2 .content p{
    font-size: 1.1vw;
    width: 80%;
    line-height: 20px;
    word-spacing: 2px;
}
.dashboard-container .column2 .links{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0.3vw 0vw;
}
.dashboard-container .column2 .links div{
    align-items: center;
    display: flex;
}
.dashboard-container .column2 .links div:nth-child(1) a{
    text-decoration: none;
    color: blue;
    width: 300px;
    height: 44px;
    border: 0.1px solid rgba(0, 0, 255, 0.205);
    border-radius: 5px;
    font-size: 1.3vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .column2 .links div:nth-child(2) a{
    text-decoration: none;
    color: blue;
    padding: 0.8vw 2vw;
    border: 0.1px solid rgba(0, 0, 255, 0.205);
    border-radius: 8px;
    font-size: 1.3vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-container .column2 .links div:nth-child(1) a:hover,
.dashboard-container .column2 .links div:nth-child(2) a:hover{
    background-color: #edf4fe;
}
.dashboard-container .column2 .links .arrow-right{
    width: 1.5em;
    height: 1.3em;
    color: #0011ffc5;
}
.dashboard-container .column2 .links .arrow-right2{
    width: 1em;
    height: 1.1em;
    font-weight: 400;
    color: #7a83ff;
    margin-left: 3px;
}
/* top box code here bar chaat view */
.securty-level-bar-container{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    align-items: center;
    margin-top: 0.5em;
    background: linear-gradient(to right, #020a7b, #8b51cd);
}
.CircularProgressbar{
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    /* position: relative; */
}
.circle-path{
    color: green;
     stroke: #4c5a98;
     stroke-dashoffset: 57.8053px;
     position: relative;
}
.circle-path2{
    color: green;
     stroke: rgb(0, 255, 30);
     stroke-dasharray: 289.027px, 289.027px;
     stroke-dashoffset: 57.8053px;
     position: relative;
}
.percent-text{
    position: absolute;
    top: 34%;
    left: 26.3%;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}
/*  */

.level-heading-column{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 1em;
}
.level-heading-column .first-box1{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.done-arrow{
    width: 15px;
    height: 15px;
    border:0.1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level-heading-column .first-box1 div{
    display: flex;
    align-items: center;
    margin-top: 0.3em;
    gap: 1em;
}
.level-heading-column .first-box1 div h3{
    font-weight: 600;
    font-size: 1.4em;
}
.level-heading-column .first-box1 div span{
    padding: 3px 14px;
    background-color: #6961cd;
    font-size: 0.8em;
    outline: none;
    border: none;
    border-radius: 20px;
}
.level-heading-column .first-box1 div .rocket-svg{
    margin-left: 0.7em;
}
.level-heading-column .first-box1 p{
    font-size: 0.9em;
}
.second-box2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.7em;
    margin-bottom: 2em;
}
.small-box{
    display: flex;
    gap: 15px;
}
.small-box:first-child{
    margin-bottom: 0.7em;
}
.small-box .row11,.row22,.row33{
    display: flex;
    align-items:center;
    width: 15em;
    border-radius: 5px;
    height: 38px;
    padding: 0 10px;
    background: linear-gradient(to right, #615caa, #9766ff);
}
.second-box2 .small-box .row11 p,.row22 p,.row33 p{
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    margin-left: 0.5em;
}
.liquid-locks-box1{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 15em;
    border-radius: 5px;
    height: 38px;
    padding: 0 10px;
    background-color: #fff;
    color: black;
}
.liquid-locks-box1 p{
    font-size: 0.9em;
    color: black;
}
.liquid-locks-box1 a{
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
    color: rgb(98, 54, 194);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end */


/* admin token vesting container code here */

.admin-token-vesting-container{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background-color: #fff;
    padding:1em 1.5em;
    padding-bottom: 2em;
    align-items: center;
}
.token-vesting-column1,.token-vesting-column2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    text-align: left;
}
.token-vesting-column1 .token-section1{
    display: flex;
    gap: 25px;
    margin-top: 0.5em;
}
.admin-token-vesting-container:nth-child(4) .token-vesting-column1 .token-section1{
    align-items: center;
}
.admin-token-vesting-container:nth-child(5) .token-vesting-column1 .token-section1{
    align-items: center;
}
.token-vesting-column2 .token-section2{
    display: flex;
    width: 100%;
    gap: 5.5em;
}
.token-vesting-column1 h3{
    font-size: 1.3em;
    font-weight: 500;
}
.token-vesting-column1 .token-section1 p{
    font-size: 0.8em;
}
.token-vesting-column2 .token-section2 p{
    font-size: 0.8em;
    margin-bottom: 0.7em;
    margin-top: 0.4em;
}
.token-vesting-column1 .token-section1 .svg-div{
    width: 25%;
    height: 0;
    margin: 0;
    padding-bottom: 6.6em;
}
.token-vesting-column1 .token-section1 div:nth-child(2) p:nth-child(1){
    padding: 2px 5px;
    background-color: #001884;
    border-radius: 8px;
    margin-bottom: 2px;
    color: white;
    margin-top: 0.3em;
}
.token-vesting-column1 .token-section1 div:nth-child(2) p:nth-child(3){
    padding: 2px 5px;
    background-color: blue;
    border-radius: 8px;
    margin-bottom: 2px;
    color: white;
    margin-top: 0.5em;
}
.token-vesting-column1 .token-section1 div:nth-child(3) p:nth-child(1){
    padding: 2px 5px;
    background-color: #8acbf0;
    border-radius: 8px;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
    margin-top: 0.3em;
}
/*  */
.token-vesting-column2 a{
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10em;
    margin-bottom: 0.5em;
}
.links-right-arrows{
    margin-left: 0.5em;
    font-size: 1.5em;
}
.token-vesting-column2  h4{
    font-size: 1em;
    font-weight: 500;
}
.token-vesting-column2 .token-section2 p{
   color: gray;
}
.token-vesting-column2 .token-section2 div span{
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.token-vesting-column2 img{
    width: 1.5em;
    object-fit: cover;
    margin-right: 0.3em;
}















/* responsive css */

@media only screen and (max-width:480px){
    .dashboard-container{
        width: 100%;
        height: 100%;
        padding:1% 4%;
    }
    .dashboard-container .heading h2{
        padding-top: 0.4em;
        font-size: 1.3em;
        font-weight: 600;
    }
    .dashboard-container .column1{
        display: flex;
        flex-direction: column;
        padding:1em;
        margin-top: 0.8em;
        justify-content: center;
        align-items:flex-start;
    }
    .dashboard-container .column1 div{
        align-items: center;
    }
    .dashboard-container .column1 img{
        width: 4em;
        height: 4em;
        color: transparent;
    }
    .dashboard-container .column1 h3{
        font-size: 1.5em;
        color: #fff;
        font-weight: 500;
    }
    .dashboard-container .column1 p{
        font-size: 0.9em;
        color: #fff;
        margin-top: 0.5vw;
    }
    /*  */
    .dashboard-container .column2{
        padding:0.2em 1.5em;
        padding-bottom: 1em;
        border-radius: 7px;
        margin-top: 1em;
    }
    .dashboard-container .column2 .content{
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .dashboard-container .column2 .content h3{
        margin-top: 0.1em;
        font-size: 1.3em;
        font-weight: 600;
        padding-bottom: 0.1em;
    }
    .dashboard-container .column2 .content p{
        font-size: 0.9em;
        line-height: 23px;
        word-spacing: 2px;
        width: 90%;
    }
    .dashboard-container .column2 .links{
        padding-top: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0.2em 0vw;
    }
    .dashboard-container .column2 .links div:nth-child(1) a{
        width: 300px;
        height: 44px;
        font-size: 1.1em;
        border: 0.1px solid rgba(0, 0, 255, 0.43);
    }
    .dashboard-container .column2 .links div:nth-child(2) a{
        border: 0.1px solid rgba(0, 0, 255, 0.43);
        border-radius: 5px;
        font-size: 1.1em;
        width: 300px;
        height: 44px;
    }
    .circle1{
        margin-top: 1em;
        margin-bottom: 0.4em;
    }

    
    
}
/*  */
@media only screen and (min-width: 600px) and (max-width:880px){

    .dashboard-container{
        width: 100%;
        height: 100%;
        padding:1% 4%;
    }
    .dashboard-container .heading h2{
        padding-top: 0.4em;
        font-size: 1.3em;
        font-weight: 600;
    }
    .dashboard-container .column1{
        display: flex;
        flex-direction: column;
        padding:1em;
        margin-top: 0.8em;
        justify-content: center;
        align-items:flex-start;
    }
    .dashboard-container .column1 div{
        align-items: center;
    }
    .dashboard-container .column1 img{
        width: 4em;
        height: 4em;
        color: transparent;
    }
    .dashboard-container .column1 h3{
        font-size: 1.5em;
        color: #fff;
        font-weight: 500;
    }
    .dashboard-container .column1 p{
        font-size: 0.9em;
        color: #fff;
        margin-top: 0.5vw;
    }
    /*  */
    .dashboard-container .column2{
        padding:0.2em 1.5em;
        padding-bottom: 1em;
        border-radius: 7px;
        margin-top: 1em;
    }
    .dashboard-container .column2 .content{
        padding-top: 2em;
        align-items: flex-start;
        /* flex-direction: column-reverse; */
    }
    .dashboard-container .column2 .content h3{
        margin-top: 0.1em;
        font-size: 1.3em;
        font-weight: 600;
        padding-bottom: 0.1em;
    }
    .dashboard-container .column2 .content p{
        font-size: 0.9em;
        line-height: 23px;
        word-spacing: 2px;
        width: 90%;
    }
    .dashboard-container .column2 .links{
        padding-top: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0.2em 0vw;
    }
    .dashboard-container .column2 .links div:nth-child(1) a{
        width: 300px;
        height: 44px;
        font-size: 1.1em;
        border: 0.1px solid rgba(0, 0, 255, 0.43);
    }
    .dashboard-container .column2 .links div:nth-child(2) a{
        border: 0.1px solid rgba(0, 0, 255, 0.43);
        border-radius: 5px;
        font-size: 1.1em;
        width: 300px;
        height: 44px;
    }
    .circle1{
        margin-top: 1em;
        margin-bottom: 0.4em;
    }

}