
.header-container nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-container nav .nav-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 35px;
    border-radius: 6px;
    background-color: #fff;
    margin-right: 1vw;
    border: .03px solid rgba(0, 0, 0, 0.063);
    z-index: 99;
}
.header-container nav .nav-div img{
    width: 22px;
    cursor: pointer;
}
.header-container nav .nav-div div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.102);
}
.header-container nav .nav-div div:nth-child(2){
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.header-container nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
    padding: 0.3em 0.5vw;
    font-weight: 600;
    text-align: center;
    height: 95%;
}
.header-container nav .nav-div div:nth-child(1):hover{
    background-color: #f3f4f6;
    border-radius: 4px;
}
.header-container nav .nav-div div:nth-child(2):hover{
    background-color: #f3f4f6;
    border-radius: 4px;
}
.nav-open-container{
    display: none;
}
/*  */

@media only screen and (max-width:766px){
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 8.5vh;
    }
    .header-container nav .nav-div div:first-child{
        width: 21%;
    }
    .header-container nav .nav-div div:first-child img{
        width: 1em;
        height: 1.5em;

    }
    header{
        margin-bottom: 8.5vh;
    }
    .nav-open-container h2{
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: rgb(34, 34, 34);
    }

    .nav-open-container{
        display: flex;
        width: 54%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .nav-open-container button{
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 0%;
        border-right: 1px solid rgba(0, 0, 0, 0.059);
        background-color: transparent;
        padding-right: 0.8em;
    }
    .nav-open-icon{
        margin-top: 0.5em;
        width: 1.8em;
        height: 2em;
        margin-left: -2.5em;
        cursor: pointer;
        color: gray;
    }

    .header-container nav .nav-div{
        width: 80%;
        overflow: hidden;
        border-radius: 6px;
        z-index: 99;
        margin-right: -2em;
        height: 36.8px;
        border: 1px solid rgba(0, 0, 0, 0.102);
    }
    .header-container nav a{
        font-size: 14px;
        padding: 0;
        width: 80%;
        font-weight: 600;
        color: rgb(34, 34, 34);
        /* padding: 1.7vw 1vw; */
        line-height: 16px;
        padding-top: 1px;
        position: relative;
    }
}
/*  */
@media only screen and (min-width: 768px) and (max-width:1023px){
    header{
        margin-bottom: 8vh;
    }
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 17em;
        height: 7.5vh;
    }
    .header-container h2{
        font-size: 1.8em;
        font-weight: 500;
        height: 100%;
        margin-top: 0.6em;
        margin-left: 0.4em;
        align-items: center;
    }
    .nav-open-container{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        /* align-items: center; */
    }
    .nav-open-container button{
        width: 60%;
        height: 100%;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        margin-left: -3em;
        border-right: 1px solid rgba(0, 0, 0, 0.145);
        padding-right: 5px;
        background-color: transparent;
    }
    .nav-open-icon{
        width: 3em;
        height: 3em;
        cursor: pointer;
    }
    .heading-box img{
        width: 11em;
        padding: 6px;
        margin-right: 6em;
        cursor: pointer;
    }
    .header-container nav .nav-div{
        width: 180px;
        border-radius: 6px;
        z-index: 99;
        margin-right: 0em;
        margin-right: -2em;
        height: 45px;
    }
    .header-container nav a{
        font-size: 1em;
        padding: 0;
        font-weight: 600;
        padding:1vw 1vw;
        position: relative;
    }

}

@media only screen and (max-width:380px){
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 9vh;
    }
    .nav-open-icon{
        margin-top: 0.5em;
        width: 1.8em;
        height: 2em;
        margin-left: -0.5em;
        cursor: pointer;
    }
    .nav-open-container h2{
        font-size: 18px;
        font-weight: 600;
        color: rgb(34, 34, 34);
        line-height: 24px;
    }

    .nav-open-container{
        display: flex;
        width: 80%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 4;
    }
    .nav-open-container button{
        width: 30%;
        height: 100%;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        margin-left: -3em;
        border-right: 1px solid rgba(0, 0, 0, 0.145);
        padding-right: 5px;
        background-color: transparent;
    }
    .header-container nav .nav-div{
        width: 80%;
        overflow: hidden;
        border-radius: 6px;
        z-index: 99;
        margin-right: -2em;
        height: 30px;
    }
    .header-container nav a{
        font-size: 12px;
        padding: 0;
        width: 80%;
        font-family: sans-serif;
        font-weight: 600;
        /* padding: 1.7vw 1vw; */
        line-height: 12px;
        padding-top: 1px;
        position: relative;
    }
}
