
.header-container nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-container nav .nav-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 35px;
    border-radius: 6px;
    background-color: #fff;
    margin-right: 1vw;
    border: .03px solid rgba(0, 0, 0, 0.141);
    z-index: 99;
}
.header-container nav .nav-div img{
    width: 22px;
    cursor: pointer;
}
.header-container nav .nav-div div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.header-container nav .nav-div div:nth-child(2){
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.header-container nav a{
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
    padding: 0.3em 0.5vw;
    font-weight: 600;
    text-align: center;
    height: 95%;
    border-left: 1px solid rgba(0, 0, 0, 0.377);
}
.header-container nav .nav-div div:nth-child(1):hover{
    background-color: #f3f4f6;
    border-radius: 5px;
}
.header-container nav .nav-div div:nth-child(2):hover{
    background-color: #f3f4f6;
    border-radius: 4px;
}
.nav-open-container{
    display: none;
}
/*  */

@media only screen and (max-width:766px){
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 7.5vh;
    }
    header{
        margin-bottom: 8vh;
    }
    .nav-open-container h2{
        font-size: 1.3em;
        font-weight: 500;
    }

    .nav-open-container{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .nav-open-container button{
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.204);
        background-color: transparent;
    }
    .nav-open-icon{
        margin-top: 1em;
        width: 2.5em;
        height: 2.5em;
        margin-left: -4em;
        cursor: pointer;
    }
    .heading-box img{
        width: 9.2em;
        padding: 6px;
        margin: 0;
        cursor: pointer;
    }
    .header-container nav .nav-div{
        width: 140px;
        border-radius: 6px;
        z-index: 99;
        margin-right: -2em;
    }
    .header-container nav a{
        font-size: 0.8em;
        padding: 0;
        font-weight: 600;
        padding: 1.7vw 1vw;
        position: relative;
    }
}
/*  */
@media only screen and (min-width: 768px) and (max-width:1023px){
    header{
        margin-bottom: 9vh;
    }
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 17em;
        height: 10vh;
    }
    .header-container h2{
        font-size: 1.4em;
        font-weight: 500;
        height: 100%;
        margin-top: 1.6em;
        margin-left: 0.4em;
        align-items: center;
    }
    .nav-open-container{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        /* align-items: center; */
    }
    .nav-open-container button{
        width: 60%;
        height: 100%;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        margin-left: -3em;
        border-right: 1px solid rgba(0, 0, 0, 0.145);
        padding-right: 5px;
        background-color: transparent;
    }
    .nav-open-icon{
        width: 2.5em;
        height: 2.5em;
        cursor: pointer;
    }
    .heading-box img{
        width: 11em;
        padding: 6px;
        margin-right: 6em;
        cursor: pointer;
    }
    .header-container nav .nav-div{
        width: 180px;
        border-radius: 6px;
        z-index: 99;
        margin-right: 0em;
        margin-right: -2em;
        height: 45px;
    }
    .header-container nav a{
        font-size: 1em;
        padding: 0;
        font-weight: 600;
        padding:1vw 1vw;
        position: relative;
    }

}
