.creat-token-container{
    width: 100%;
    height: 100%;
    background-color: #f3f7fa;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

}

/*  */
.creat-token-column{
    margin-top: 0.5em;
    width: 120%;
    height: 100%;
    padding: 0 1vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.creat-token-column .content1{
    padding: 2vw 0;
    width: 87%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.creat-token-column .content1 h1{
    font-size: 2.7vw;
    height: 45px;
    font-weight: 500;
}
.creat-token-column .content1 a{
    text-decoration: none;
    padding: 0.7vw 1vw;
    border: 0.1px solid rgba(0, 0, 0, 0.153) ;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2vw;
    color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -3em;
}
.content1 .vd-icon{
    height: 1.2em;
    width: 2em;
    color: rgba(0, 0, 255, 0.694);
}
.content1 .vd-icon2{
    height: 1.2em;
    width: 2em;
    color: rgba(0, 0, 255, 0.694);
    display: none;
}
.content1 .vd-icon3{
    height: 1.2em;
    width: 2em;
    color: rgba(0, 0, 255, 0.694);
    display: none;
}
/*  */
.token-creation-bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1vw;
}
.token-creation-bar .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    gap: 0.5vw;
    margin-right: 1vw;
}
/* button radio bar */
.token-creation-bar .column .btn-radio1{
    width: 120%;
    height: 5px ;
    outline: none;
    border: none;
    background-color: rgb(0, 0, 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -1em;
}
.token-creation-bar .column .btn-radio2{
    width: 130%;
    height: 5px ;
    outline: none;
    border: none;
    background-color: #b0b7c1;
    margin-left: -1em;
}
.token-creation-bar .column .btn-radio3{
    width: 130%;
    height: 5px ;
    outline: none;
    border: none;
    background-color: #b0b7c1;
    margin-right: -3em;
}
.token-creation-bar .column .btn-radio4{
    width: 110%;
    height: 5px ;
    outline: none;
    border: none;
    background-color: #b0b7c1;
    margin-right: -1em;
}
.token-creation-bar .column .btn-radio5{
    width: 120%;
    height: 5px ;
    outline: none;
    border: none;
    background-color: #b0b7c1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: -1em;
}
.token-creation-bar .column .content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .2vw;
    margin-right: 0.8em;
}
/* text color */
.token-creation-bar .column .content .span1{
    font-size: 1.1vw;
    font-weight: 400;
    color:black;
    margin-left: 0.4vw;
    margin-right: 1em;
}
.token-creation-bar .column .content .span2{
    font-size: 1.1vw;
    font-weight: 400;
    color: #b0b7c1;
    margin-left: 0.4vw;
    margin-right: 1em;
}
.token-creation-bar .column .content .span3{
    font-size: 1.1vw;
    font-weight: 400;
    color: #b0b7c1;
    margin-left: 0.4vw;
    margin-right: 1em;
}
.token-creation-bar .column .content .span4{
    font-size: 1.1vw;
    font-weight: 400;
    color: #b0b7c1;
    margin-left: 0.4vw;
    margin-right: 1em;
}
.token-creation-bar .column .content .span5{
    font-size: 1.1vw;
    font-weight: 400;
    color: #b0b7c1;
    margin-left: 0.4vw;
    margin-right: 1em;
}
.token-creation-bar .column .content .radio-bar2{
    color: #b0b7c1;
}
.token-creation-bar .column .content .radio-bar3{
    color: #b0b7c1;
}
.token-creation-bar .column .content .radio-bar4{
    color: #b0b7c1;
}
.token-creation-bar .column .content .radio-bar5{
    color: #b0b7c1;
}
/*  */

.select-wallet-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-wallet{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 2px;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vw;
    /* display: none; */
}
.select-wallet h1{
    font-size: 2.2vw;
    font-weight: 500;
    color: black;
    padding-bottom: 1vw;
}
.select-wallet p{
    font-size: 1.3vw;
    color: #363739;
}
.select-wallet div{
    margin-top: 2.2vw;
    margin-bottom: 1vw;
}
.select-wallet a{
    text-decoration: none;
    padding: 0.7vw 1.7vw;
    font-size: 1.5vw;
    color: white;
    font-weight: 500;
    background-color: rgba(0, 0, 255, 0.742);
    border-radius: 8px;
}
.select-wallet a:hover{
    background-color: rgb(0, 0, 255);
}

/* popup box here start */
.popup-box{
    position: absolute;
    width: 100%;
    top: -11vh;
    bottom: 0;
    height: 100vh;
    background-color: #a0a2a45f;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-container{
    margin-top: 2vw;
    margin-left: 1vw;
    width: 39%;
    height: 39%;
    border-radius: 10px;
    padding: 1.2vw 2vw;
    background-color: #fff;
    position: relative;
}
.popup-container .top-column{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-container .top-column h2{
    font-size: 2vw;
    font-weight: 600;
}

.popup-container .top-column .popup-close-icon{
    font-size: 2.2vw;
    color: rgba(0, 0, 0, 0.53);
    cursor: pointer;
    font-weight: 500;
}
.popup-container .top-column .popup-close-icon:hover{
    color: black;
}
.popup-container .bottom-column{
    cursor: pointer;
    width: 100%;
    height: 70%;
    background-color: #eff6ff;
    padding:1vw;
    border-radius: 10px;
}
.popup-container .bottom-column:hover{
    background-color:#dbeaff ;
}
.popup-container .bottom-column h3{
    font-size: 1.4vw;
    color: black;
    font-weight: 600;
    padding-bottom: 0.5vw;
}
.popup-container .bottom-column .bottom-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-container .bottom-column .bottom-heading p{
    font-size: 1.1vw;
    font-weight: 500;
    color: #202121c8;
}
.popup-container .bottom-column .bottom-image-box{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 1vw;
}
.popup-container .bottom-column .bottom-image-box img{
    color: transparent;
}
.popup-container .bottom-column .bottom-image-box p{
    font-size: 1vw;
    font-weight: 500;
    color: #b0b7c1;
}/* popup box here end */


/* continue hide box code start */
.continue-hide-box{
    width: 50%;
    height: 50px;
    border: 0.2px solid rgba(0, 0, 0, 0.279);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.continue-hide-box img{
    width: 25px;
    height: 25px;
    margin-right: 2vw;
}
.continue-hide-box h3{
    font-size: 1.3vw;
    font-weight: 500;
}
.continue-hide-box p{
    font-size: 1vw;
    line-height: 10px;
    padding-bottom: 1vw;
}
.continue-hide-box .a{
    padding: 0;
    background-color: #fff;
    font-size: 1.5vw;
    color: black;
    margin-left: 6vw;
    margin-top: -10px;
    color: blue;
    text-align: center;
}
.continue-hide-box .a:hover{
    background-color: #fff;
}
.continue-hide-box .ds-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.continue-hide-box .ds-icon{
    font-size: 2vw;
    color: blue;
    margin-top: -10px;
}/* end here */

/* connected wallet code start here */
.connected-wallet-hide-box{
    width: 80%;
    height: 60px;
    border: 0.2px solid rgba(0, 0, 0, 0.279);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 1vw;
    cursor: pointer;
    background-color: #fff;
    display: none;
}
.connected-wallet-hide-box:hover{
    background-color:#eef6fe ;
}
.connected-wallet-hide-box .ds-icon2{
    transform: rotate(90deg);
    color: rgba(0, 0, 0, 0.689);
    font-size: 2vw;
    margin-left: 1vw;
}
.connected-wallet-hide-box div h3{
    font-size: 1.5vw;
    margin-left: 0.2vw;
}
.connected-wallet-hide-box div p{
    font-size: 1.3vw;
    margin-left: 0.2vw;
}

.connected-wallet-hide-box div{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}/* connected wallet code end here */



/*  */

.select-blockchain-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vw;
}
.select-blockchain-box .select-right-arrow{
    font-size: 1.8vw;
    margin-right: 1vw;
}
.select-blockchain{
    margin-top: 0.5vw;
    width: 70%;
    height: 100%;
    background-color: #f8fafc;
    padding: 1.8vw 2vw;
}
/* .select-blockchain:nth-child(1){
    display: none;
} */
/* .select-blockchain:nth-child(2){
    display: none;
}
.select-blockchain:nth-child(3){
    display: none;
}
.select-blockchain:nth-child(4){
    display: none;
} */
.select-blockchain .select-box1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b0b7c1;
}
.select-blockchain .select-box1 div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-blockchain .select-box1 div span{
    font-size: 1.4vw;
    font-weight: 400;
    margin-left: 0.6vw;
}
/*  */
/*  */
.hide-blockchain1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.blockchain-cards{
    margin-top: 1vw;
    width: 80%;
    height: 100%;
    padding: 2vw;
    background-color: #fff;
}
.blockchain-cards .cards-heading-box h2{
    font-size: 2vw;
    font-weight: 600;
}
.blockchain-cards .cards-heading-box p{
    font-size: 1.3vw;
    padding-top: 0.2vw;
    padding-bottom: 1vw;
}
.blockchain-cards .cards-heading-box h3{
    font-size: 1.5vw;
    font-weight: 500;
    padding-top: 1vw;
}
.cards-box-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vw;
}
.cards-box-container .column{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}
.cards-box-container .column .cards{
    width: 43%;
    padding:0.5vw 1vw;
    display: flex;
    align-items: center;
    background-color: #ecf3f9;
    border-radius: 5px;
    border: 0.1px solid rgba(0, 0, 255, 0.4);
    cursor: pointer;
}
.cards-box-container .column .cards img{
    width: 30px ;
    height: 30px;
}
.cards-box-container .column .cards p{
    font-size: 1.4vw;
    font-weight: 500;
    margin-left: 1vw;
}
.cards-box-container .column .cards span{
    font-size: 1.1vw;
    color: gray;
    margin-left: 1vw;
    line-height: 0;
}
.cards-box-container .column .cards svg{
    color: blue;
    width: 1.5em;
    height: 1.5em;
    margin-left:15vw;
}
/*  */
.bottom-column-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1vw;
}
.bottom-column-box h3{
    font-size: 2vw ;
    font-weight: 500;
    padding-bottom: 1vw;
}
.bottom-column-box .column{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}
.bottom-column-box .column .cards{
    width: 43%;
    padding:0.5vw 1vw;
    display: flex;
    align-items: center;
    background-color: #ecf3f9;
    border-radius: 5px;
    border: 0.1px solid rgba(0, 0, 255, 0.4);
    cursor: pointer;
}
.bottom-column-box .column .cards img{
    width: 30px ;
    height: 30px;
}
.bottom-column-box .column .cards p{
    font-size: 1.4vw;
    font-weight: 500;
    margin-left: 1vw;
}
.bottom-column-box .column .cards span{
    font-size: 1.1vw;
    color: gray;
    margin-left: 1vw;
    line-height: 0;
}
.bottom-column-box .column .cards svg{
    color: blue;
    width: 1.5em;
    height: 1.5em;
    margin-left:15vw;
}
.block-chain-btn{
    padding-top: 2vw;
}
.block-chain-btn a{
    padding: 0.8vw 1.5vw;
    background-color: blue;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}