
/* multisender code here */
/* token information address code here of create team token lock */

.token-info-container .token-address-p{
    font-size: 15px;
    width: 100%;
}
.token-info-container .heading-of-token-address{
    color: gray;
    font-size: 0.8em;
    font-weight: 400;
}
.token-info-container .top-input-box .token-address-input{
    width: 300%;
}
.token-info-container .top-input-box .token-address-input ::placeholder{
    color: gray;
    font-weight: 500;
}
.token-info-container .form-continue-btn button{
    cursor: pointer;
}
.token-info-container .token-info-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
    flex-wrap: wrap;
}
.token-info-container .token-details-box1{
    display: flex;
    width: 260px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, 0.33);
    align-items: center;
    background-color: #e5eff9;
    margin-bottom: 0.5em;
}
.token-info-container .token-details-box1 img{
    width: 35px;
    height: 35px;
    margin: 0 0.6em;
}
.token-info-container .token-details-box1 .small-info-box,.token-info-container .token-details-box1 .small-info-box2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 5em;
}
.token-info-container .small-info-box p{
    margin-top: 0.5em;
    margin-left: 0.1em;
}
.token-info-container .small-info-box2 span{
    margin-top: -2em;
    padding: 0.1em 0.5em;
    font-size: 0.8em;
    background-color: #d1dff8;
    border-radius: 40px;
    color: blue;
}
.token-info-container .small-info-box2 p{
    margin-top: -1em;
    font-size: 0.8em;
    color: gray;
}
.token-details-box2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.token-details-box2 .info-colum11:first-child{
    display: flex;
    width: 50%;
    margin-top: 1em;
    justify-content: space-between;
    border-bottom: .1px solid rgba(0, 0, 0, 0.188);
}
.token-details-box2 .info-colum11{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: -1em;
}
.token-details-box2 .info-colum11 img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.token-details-box2 .info-colum11 p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.token-details-box2 .info-colum11 h4{
    color: gray;
    font-size: 1em;
}


/* add feature box code here */

.recipient-box1{
    width: 100%;
    display: flex;
    background-color: #e5eff9;
    border-radius: 5px;
    padding: 1em;
    flex-direction: column;
    flex-wrap: wrap;
}
.recipient-box1 .rct-box1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.recipient-box1 .rct-box1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7px;
}
.recipient-box1 .rct-box1 div input{
    width: 15px;
    height: 15px;
}
.recipient-box1 .rct-box1 div p{
    font-size: 0.9em;
    width: 100%;
    height: 10px;
    font-weight: 500;
}
/*  */
.recipient-box2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
}
.small-rtc-box{
    margin-top: 0.3em;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.107);
}
.small-rtc-box p{
    color: #66696d;
    font-size: 0.9em;
    margin-bottom: 0.6em;
}
.small-rtc-box span{
    font-size: 0.9em;
    font-weight: 500;
}
/*  */

.small-rtc-box2{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.small-rtc-box2 p{
    color: #66696d;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-rtc-box2 .dout-svg{
    margin-left: 5px;
}
.small-rtc-box2 div{
    text-align: right;
    display: flex;
    flex-direction: column;
}

/*  */

.small-rtc-box3{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.small-rtc-box3 .div{
    display: flex;
    width: 100%;
}
.small-rtc-box3 .div p:nth-child(1){
    font-size: 0.8em;
    font-weight: 500;
    width: 70%;
    margin-left: 2em;
}
.small-rtc-box3 .div p:nth-child(2){
    font-size: 0.8em;
    font-weight: 500;
    width: 30%;
}
.small-rtc-box3 .div2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.small-rtc-box3 .div2 .first-input{
    width: 480px;
    margin-right: 0.7em;
    padding: 0 1em;
    margin-left: 1em;
    outline: none;
    border: none;
    margin-bottom: 1em;
    border-radius: 5px;
    height: 40px;
}
.small-rtc-box3 .div2 .second-input{
    width: 160px;
    margin-right: 0.8em;
    border-radius: 5px;
    padding: 0 1em;
    height: 40px;
    outline: none;
    margin-bottom: 1em;
    border: none;
}
.small-rtc-box3 .div2 button:nth-child(1){
    width: 37px;
    height: 38px;
    margin-right: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: blue;
    margin-bottom: 1em;
    color: white;
}
.small-rtc-box3 .div2 button:nth-child(2){
    width: 37px;
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 1em;
    border: 1px solid rgba(0, 0, 0, 0.229);
}

/*  */

.small-rtc-box4{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;

}
.small-rtc-box4 .div1 div{
    display: flex;
}
.small-rtc-box4 .div1 div p:first-child{
    border-right: 1px solid rgba(0, 0, 0, 0.404);
    padding-right: 1em;
    padding-left: 0;
}

.small-rtc-box4 .div1 div p{
    font-size: 0.8em;
    color: gray;
    padding-left: 1em;
}
.small-rtc-box4 .div2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.small-rtc-box4 .div2 p{
    font-size: 0.9em;
    margin-right: 0.4em;
    height: 10px;
}
.small-rtc-box4 select {
    height: 34px;
    padding: 4px;
    width: 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid #cccccc82;
    border-radius: 0px;
    cursor: pointer;
}
  
.small-rtc-box4  select:focus {
    background-color: #fff;
}
.small-rtc-box4 .div3{
    display: flex;
}
.small-rtc-box4 .div3 button{
    width: 37px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.111);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    color: gray;
}
.small-rtc-box4 .div22{
    display: flex;
    gap: 10px;
}


/*  */

.small-rtc-box5{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    align-items: center;
    /* flex-wrap: wrap; */
}
.small-rtc-box5 .box1{
    display: flex;
    gap: 1em;
    width: 180%;
}
.small-rtc-box5 .box1 button{
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0.7em 1em;
    font-weight: 600;
    background-color: #fff;
    color: rgb(88, 88, 88);
    border-radius: 5px;
}
.small-rtc-box5 .box1 a{
    border: none;
    text-decoration: none;
    outline: none;
    font-size: 1em;
    padding: 0.7em 1em;
    font-weight: 600;
    color: blue;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.small-rtc-box5 .box2 p{
    cursor: pointer;
    color: rgb(243, 1, 1);
    font-weight: 600;
    font-size: 1em;
    text-align: right;
    width: 100%;
}

/* box2 */

.recipient-box2{
    margin-top: 0.3em;
    width: 100%;
    display: flex;
    background-color: #e5eff9;
    border-radius: 5px;
    padding: 1em;
    flex-direction: column;
    flex-wrap: wrap;
}
.recipient-box2 .rct-box1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.recipient-box2 .rct-box1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7px;
}
.recipient-box2 .rct-box1 div input{
    width: 15px;
    height: 15px;
}
.recipient-box2 .rct-box1 div p{
    font-size: 0.9em;
    width: 100%;
    height: 4px;
    font-weight: 500;
}
/*  */
.template-btn button{
    font-size: 1em;
    border: none;
    outline: none;
    color: blue;
    background-color: transparent;
    padding: 0.6em 0.8em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.135);
    font-weight: 500;
    margin-bottom: 1em;
    cursor: pointer;
}
.template-btn button:hover{
    background-color: #dbeafe;
}

.upload-cv-box{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
}
.upload-cv-box .upload-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em;
    border: 3px dotted blue;
    border-radius: 5px;
}
.upload-cv-box .upload-box:hover{
    border: 3px solid blue;
}
.upload-cv-box .upload-box .box1{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.upload-cv-box .upload-box .box1 h4{
    padding-top: 1.8em;
    padding-bottom: 0.3em;
    font-size: 1.3em;
    font-weight: 500;
}
.upload-cv-box .upload-box .box1 input{
    width: 100%;
    height: 40px;
}

/* every where use button code here */

.all-time-use-btn{
    border: none;
    outline: none;
    color: white;
    background-color: rgba(0, 0, 255, 0.762);
    font-size: 1em;
    padding: 0.6em 0.8em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.135);
    font-weight: 500;
   margin-top: 1em;
    cursor: pointer
}
.all-time-use-btn:hover{
    background-color: blue;
}

/* token vesting code here */

.add-feature-container .vesting-heading{
    font-size: 15px;
}
.add-feature-container .vesting-heading a{
    text-decoration: none;
    color: blue;
}
.add-feature-container .vesting-box1{
    width: 68%;
}
.add-feature-container .vesting-box2{
    width: 68%;
}
.vesting-box1 .vesting-inner-box1{
    width: 100%;
    height: 100%;
}
.vesting-box1 .add-address-box{
    margin-top: -1.3em;
    margin-left: -.3em;
    margin-bottom: -0.7em;
}


/* address details box here */

.address-details-box{
    width: 100%;
    padding-bottom: 1em;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.346);
    display: flex;
    justify-content: center;
    z-index: 99;
}
.address-form-container{
    border-radius: 10px;
    width: 64%;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 140%;
}
.address-form-container .ad-box1{
    display: flex;
    justify-content: space-between;
}
.address-form-container .ad-box1 h3{
    font-weight: 500;
    font-size: 1.5em;
}
/* box2 */
.address-form-container .ad-box2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.address-form-container .ad-box2 div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.address-form-container .ad-box2 div span{
    font-size: 0.7em;
    font-weight: 500;
    color: rgb(87, 87, 87);
    display: flex;
    margin-bottom: 2px;
    align-items: center;
}
.address-form-container .ad-box2 div input{
    width: 96.5%;
    height: 45px;
    border-radius: 6px;
    border: 0.1px solid rgba(0, 0, 0, 0.234);
    outline-color: rgb(64, 198, 255);
    padding: 0 1em;
    font-size: 1em;
}
.address-form-container .ad-box2 div .select{
    height: 45px;
    padding: 0 1em;
    border-radius: 6px;
}
/* box3 */

.address-form-container .ad-box3{
    width: 100%;
    display: flex;
    align-items: center;
}
.address-form-container .ad-box3 div{
    display: flex;
    margin-top: 0.3em;
}
.address-form-container .ad-box3-3{
    background-color: #d1dff8;
    margin-right: 1em;
    padding:0.8em 1em;
    align-items: center;
}

.address-form-container .ad-box3-3 input{
    width: 17px;
    height: 17px;
    margin-right: 10px;
}
.address-form-container .ad-box3-3 p{
    font-size: 1em;
    line-height: 0px;
    font-weight: 600;
    margin-left: -5px;
}
.address-form-container .ad-box3-3 span{
    font-size: 0.9em;
    margin-left: 5px;
    font-weight: 400;
    margin: -5px;
    color: rgb(20, 19, 19);
}
.address-form-container .ad-box3 .last-div p{
    font-size: 1.1em;
    color: rgb(53, 53, 255);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-box2 h5{
    padding: 0.4em 0.6em;
    border-radius: 7px;
    margin-top: 0.7em;
    font-size: 14px;
    font-weight: 600;
    background-color: #d1dff8b0;
    color: blue;
}

/* box4 */

.address-form-container .ad-box4{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.address-form-container .ad-box4 h5{
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    margin-left: 1em;
}
.address-form-container .ad-box4 svg,.address-form-container .ad-box2 svg{
    margin-left: 7px;
}
/* box5 */
.address-form-container .ad-box5{
    width: 100%;
    display: flex;
    margin-top: 1em;
    justify-content: space-between;
}
.address-form-container .ad-box5 .cancle-btn{
    padding: 0.6em 1.2em;
    background-color: #fff;
    color: blue;
}
.address-form-container .ad-box5 .cancle-btn:hover{
    background-color: #d1dff8;
}




/* team token lock page code here */

.ad-lock-box1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ad-lock-box1 span{
    font-size: 0.8em;
    margin-bottom: 3px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.ad-lock-box1 input{
    width: 60%;
    height: 45px;
    border-radius: 6px;
    border: 0.1px solid rgba(0, 0, 0, 0.234);
    outline-color: rgb(64, 198, 255);
    padding: 0 1em;
    font-size: 1em;
}
/* box2 */

.ad-lock-box2{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0.2em;
}
.ad-lock-box2 p{
    font-size: 0.9em;
    color: gray;
    margin-top: 0.7em;
}
.ad-lock-box2 span{
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 5px;
}

.ad-lock-box2 h5{
    padding: 0.4em 0.6em;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    background-color: #d1dff8b0;
    color: blue;
}
/* box3 */
.ad-lock-box3{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 0.8em;
}
.ad-lock-box3 p{
    font-size: 1em;
    color: gray;
}
.ad-lock-box3 span{
    font-size: 1em;
    font-weight: 500;
}
/* box4 */
.ad-lock-box44{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.ad-lock-box4{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.ad-lock-box4 p{
    font-size: 1em;
    margin-bottom: -0.4em;
}
.ad-lock-box4 span{
    line-height: 0;
    margin-top: -1em;
    font-size: 0.7em;
}
.check-to-come-up input{
    margin-top: 0.5em;
    width: 100%;
    height: 45px;
    border-radius: 6px;
    border: 0.1px solid rgba(0, 0, 0, 0.234);
    outline-color: rgb(64, 198, 255);
    padding: 0 1em;
    font-size: 1em;
}



/* nft lock code */
.nft-token-id-box{
    margin-top: 1em;
}
.nft-token-id-box2{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 2em;
}
.nft-token-id-box2 div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nft-token-id-box2 div p{
    font-size: 0.9em;
    align-items: center;
    color: gray;
}
.nft-token-id-box2 div span{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1em;
    font-weight: 500;
}
.nft-token-id-box2 div:first-child{
    border-bottom: 1px solid #00000032;
    padding-bottom: 0.6em;
    margin-bottom: 1em;
}
.ad-lock-box3-3{
    width: 65%;
}
.ad-lock-box1-1{
    width: 108%;
}
.ad-lock-box44-4{
    width: 65%;
}
.input input{
    width: 65%;
}