

/* token information address code here */

.token-info-container .token-address-p{
    font-size: 15px;
    width: 100%;
}
.token-info-container .heading-of-token-address{
    color: gray;
    font-size: 0.8em;
    font-weight: 400;
}
.token-info-container .top-input-box .token-address-input{
    width: 300%;
}
.token-info-container .top-input-box .token-address-input ::placeholder{
    color: gray;
    font-weight: 500;
}
.token-info-container .form-continue-btn button{
    cursor: pointer;
}
.token-info-container .token-info-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
    flex-wrap: wrap;
}
.token-info-container .token-details-box1{
    display: flex;
    width: 260px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, 0.33);
    align-items: center;
    background-color: #e5eff9;
    margin-bottom: 0.5em;
}
.token-info-container .token-details-box1 img{
    width: 35px;
    height: 35px;
    margin: 0 0.6em;
}
.token-info-container .token-details-box1 .small-info-box,.token-info-container .token-details-box1 .small-info-box2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 5em;
}
.token-info-container .small-info-box p{
    margin-top: 0.5em;
    margin-left: 0.1em;
    /* margin-right: 2rem; */
}
.token-info-container .small-info-box2 span{
    margin-top: -2em;
    padding: 0.1em 0.5em;
    font-size: 0.8em;
    background-color: #d1dff8;
    border-radius: 40px;
    color: blue;
    /* margin-right: 5.5rem; */
}
.token-info-container .small-info-box2 p{
    margin-top: -1em;
    font-size: 0.8em;
    color: gray;
}
.token-details-box2{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.token-details-box2 .info-colum11:first-child{
    display: flex;
    width: 50%;
    margin-top: 1em;
    justify-content: space-between;
    border-bottom: .1px solid rgba(0, 0, 0, 0.188);
}
.token-details-box2 .info-colum11{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: -1em;
}
.token-details-box2 .info-colum11 img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.token-details-box2 .info-colum11 p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.token-details-box2 .info-colum11 h4{
    color: gray;
    font-size: 1em;
}


/* add feature box code here */

