.link-box1 {
    padding: 0 1.2%;
    padding-bottom: 1vw;
}
.link-box1 ul,.link-box2 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
}
.link-box1 ul li,.link-box2 ul li{
    padding: 1vw 1.2vw;
    list-style-type: none;;
    margin-left: 1.8vw;
    position: relative;
}

.link-box1 ul li:first-child{
    margin-top: 1.2vw;
}
.link-box1 ul li a,.link-box2 ul li a{
    text-decoration: none;
    color: #63676d;
    font-size: 1.1vw;
    transition: all 0.4s ease;
    z-index: 99;
    position: relative;
}
.link-box1 ul li .icon{
    color: #05050688;
   position: absolute;
   height: 1.3em;
   width: 1.5em;
   left: -2.6vw;
   bottom: 27%;
   z-index: 99;
}
.link-box2 ul li .icon{
    color: #050506b1;
   position: absolute;
   height: 1.3em;
   width: 1.5em;
   left: -2vw;
   margin-right: -1vw;
   bottom: 27%;
   z-index: 99;
}
.link-box2 ul li{
    padding: 1vw 0.5vw;
    list-style-type: none;;
    margin-left: 1.8vw;
    /* position: relative; */
    z-index: 99;
}
.link-box1 ul li::before{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #9c9fa3;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,0%);
    z-index: 99;
}
.link-box2 ul li a .second-icon{
    padding-left: -1vw;
    width: 0.9em;
    height: 1em;
    margin-left: 0.4vw;
    padding-top: 1px;
    z-index: 99;
}
.link-box1 ul li:first-child:before{
    content: '';
    position: relative;
    margin-left: -1.2vw;
}
.link-box1 ul li a:hover,.link-box2 ul li a:hover{
    color: black;
}
.link-box1 ul li:hover span{
    background-color: #e4eef7;
}
.link-box1 ul li span{
    position: absolute;
    left: -24%;
    top: 0;
    width: 120%;
    height: 45px;
    border-radius: 6px;
    opacity: 1;
    z-index: 1;
}
.link-box1 ul li a:active>span{
    background-color:#e4eef7 ;
}
.close-icon-box{
    display: none;
}
.team-finance{
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .02px solid rgba(0, 0, 0, 0.322);
}
.team-finance img{
    font-size: 2em;
}
@media only screen and (max-width:766px){
    .side-container{
        position: fixed;
        display: none;
        top: 0;
        width: 90%;
        height: 100vh;
        background-color:#f3f7fa;
        z-index: 99;
    }
    .close-icon-box{
        display: block;
        width: 100vw;
    }
    .close-icon-box .close-icon{
        position: absolute;
        right:0;
        top:14%;
        width: 2em;
        height: 2em;
        z-index: 199;
        color: #63676d;
    }
    .link-box1 ul,.link-box2 ul{
        margin-left: 2.5em;
        margin-top: 1em;
    }
    .link-box1 ul li,.link-box2 ul li{
        padding: 1em 1.2em;
        list-style-type: none;
        position: relative;
    }
    
    .link-box1 ul li:first-child{
        margin-top: 1em;
        width: 55%;
    }
    .link-box1 ul li a,.link-box2 ul li a{
        font-size: 0.9em;
    }
    .link-box1 ul li .icon{
       height: 2em;
       width: 1.5em;
       left: -2em;
       bottom: 18%;
       z-index: 99;
    }
    .link-box2 ul li .icon{
       height: 2em;
       width: 1.5em;
       left: -3vw;
       margin-right: -1vw;
       bottom: 20%;
       z-index: 99;
    }
    .link-box1 ul li::before{
        top: 45%;
    }
    .link-box2 ul li a .second-icon{
        margin-left: 0.4vw;
        padding-top: 3px;
    }
    .link-box1 ul li:hover span{
        background-color: #e4eef7;
    }
    .link-box1 ul li span{
        position: absolute;
        left: -24%;
        top: 10%;
        width: 120%;
        height: 45px;
        border-radius: 6px;
        opacity: 1;
        z-index: 1;
    }
}

/*  */

@media only screen and (min-width: 768px) and (max-width:1023px){
    .side-container{
        position: fixed;
        left: 0;
        width: 60%;
        height: 100vh;
        background-color:#f3f7fa;
        display: none;
        overflow-y: scroll;
    }
    .close-icon-box{
        display: block;
        width: 100vw;
    }
    .close-icon-box .close-icon{
        position: absolute;
        right:0;
        top:14%;
        width: 2em;
        height: 2em;
        z-index: 199;
        color: #63676d;
    }
    .link-box1 ul,.link-box2 ul{
        margin-left: 2.5em;
        margin-top: 0.5em;
    }
    .link-box1 ul li,.link-box2 ul li{
        padding: 1.5em 1.2em;
        list-style-type: none;
        position: relative;
    }
    
    .link-box1 ul li:first-child{
        margin-top: 1em;
    }
    .link-box1 ul li a,.link-box2 ul li a{
        font-size: 1.3em;
    }
    .link-box1 ul li .icon{
       height: 2em;
       width: 1.5em;
       left: -2em;
       bottom: 30%;
       z-index: 99;
    }
    .link-box2 ul li .icon{
       height: 2em;
       width: 1.5em;
       left: -3vw;
       margin-right: -1vw;
       bottom: 30%;
       z-index: 99;
    }
    .link-box1 ul li::before{
        top: 45%;
    }
    .link-box2 ul li a .second-icon{
        margin-left: 0.4vw;
        padding-top: 3px;
    }
    .link-box1 ul li span{
        position: absolute;
        left: -24%;
        top: 20%;
        width: 110%;
        height: 45px;
        border-radius: 6px;
        opacity: 1;
        z-index: 1;
    }
}
