@media only screen and (max-width:480px){
    .add-feature-container2-2{
        width: 95%;
        height: 100%;;
        padding: 1em;
    }
    .token-info-container{
        width: 95%;
    }
    /* team token lock page code here */

    .ad-lock-box1 span{
        font-size: 0.8em;
        margin-bottom: 3px;
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .ad-lock-box1 div input{
        width: 100%;
        height: 45px;
    } 
    /* box3 */
    .ad-lock-box3{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 0.8em;
    }
    /* box4 */
    .ad-lock-box44{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .create-contract-container{
        width: 95%;
    }
    .token-information-box{
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    .tk-informantion{
        margin-left: -3em;
    }

}

@media only screen and (min-width: 600px) and (max-width:1040px){


    .token-information-box{
        width: 95%;
        align-items: center;
    }

}