@media only screen and (max-width:766px){
    .details-token-vesting-plan {
        width: 115%;
    }
    .vesting-token-details{
        width: 90%;
    }
    .token-info-container{
         width: 100%;
         padding: 1em;
    }
    .add-feature-container .vesting-box1{
        width: 100%;
    }
    .fully-details-box{
        width: 115%;
    }
    .draw-no-about-token{
        width: 100%;
        margin-left: -1em;
    }
    .add-feature-container .vesting-box2{
        width: 100%;
    }
    .upload-box{
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    .add-feature-container .vesting-box1{
        width: 100%;
    }
    .add-feature-container .vesting-box2{
        width: 100%;
    }
}