@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10vh;
}
.header-container{
    background-color: #f3f7fa;
    padding: 2.7% 1%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: .02px solid rgba(0, 0, 0, 0.322);
}

.side-container{
    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color:#f3f7fa;
    display: flex;
    flex-direction: column;
    z-index: 99;
}
.footer{
    width: 100%;
    height: 60%;
    background-color: #f3f7fa;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.section{
    width: 100%;
    height: 100vh;
    background-color: green;
}

.back-home-box{
    width: 100%;
    height: 11vh;
    align-items: center;
    background-color: #f3f7fa;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.153);
}
.back-home-box img{
    width: 159px;
    height: 40px;
    margin-right: 1vw;
    padding-right: 1vw;
    border-right: 1px solid rgba(0, 0, 0, 0.379);
}

.back-home-box .image-container{
    height: 100%;
    width: 55%;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-home-box .image-container a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: blue;
    position: relative;
}

.back-home-box .image-container a span{
    font-size: 1.2vw;
    font-weight: 500;
    margin-left: 2.5vw;
}
.back-home-box .left-icon{
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(-50%,0);
    height: 1.2em;
    width: 1.2em;
    opacity: 0.8;
}
.dashboard-home-page{
    width: 100%;
    height: 100%;
    background-color: #f3f7fa;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}