@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*.container {
    max-width: 600px;
    padding: 20px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}
.headings{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.walletInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.walletDetails {
    display: flex;
    align-items: center;
}

.walletLogo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.disconnectButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.continueButton {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.formSection {
    text-align: left;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.input, select {
    height: 45px;
    width: 400px;
    padding: 8px;
    border: 1px solid;
    box-shadow: 0 0 3px rgb(0, 0, 0); /* Adds a 3px shadow with RGB color */
    /* border-radius: 4px; */
    /* box-sizing: border-box; Ensures padding and border are included in the element's total width and height */
/* } */

/*p{
    font-size: 23px;
}
input:focus, select:focus {
    border: 2px solid rgb(242, 242, 245);
    box-shadow: 0 0 3px rgb(0, 0, 0); /* Adds a 3px shadow with RGB color */
    /* outline: none; Removes the default outline */
/* } */
/*.checkbox{
    text-align: center;
    height: 20px;
    width: 20px;
}
select{
    height: 45px !important;
}
.agreementText, .auditText {
    font-size: 12px;
    color: #888;
    margin-top: 20px;
}

.agreementText a {
    color: #0070f3;
    text-decoration: none;
}
*/
header{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10vh;
}
.header-container{
    background-color: #f3f7fa;
    padding: 2.7% 1%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: .02px solid rgba(0, 0, 0, 0.322);
}

.side-container{
    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color:#f3f7fa;
    display: flex;
    flex-direction: column;
}
.footer{
    width: 100%;
    height: 60%;
    background-color: #f3f7fa;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.section{
    width: 100%;
    height: 100vh;
    background-color: green;
}