@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f3f7fa;
}

header{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10vh;
    background-color: #f3f7fa;
    overflow: hidden;
}
.header-container{
    background-color: #f3f7fa;
    padding: 2.7% 1%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 11vh;
    padding: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: .02px solid rgba(0, 0, 0, 0.183);
}

.side-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background-color:#f3f7fa;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 99;
}
.footer{
    width: 100%;
    height: 60%;
    background-color: #f3f7fa;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.section{
    width: 100%;
    height: 100vh;
    background-color: green;
}

/* back home page */
.back-home-box{
    width: 100%;
    height: 11vh;
    align-items: center;
    background-color: #f3f7fa;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.153);
}
.back-home-box img{
    width: 172px;
    height: 45px;
    margin-right: 1vw;
    padding-right: 1vw;
    border-right: 1px solid rgba(0, 0, 0, 0.186);
}

.back-home-box .image-container{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-home-box .image-container a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: blue;
    position: relative;
}

.back-home-box .image-container a span{
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 2.5vw;
}
.back-home-box .left-icon{
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(-50%,0);
    height: 1.2em;
    width: 1.2em;
    opacity: 0.8;
}
/* back home css for media query  */
@media only screen and (max-width:766px){
    .back-home-box .image-container{
        width: 99%;
        /* justify-content: space-around; */
        gap: 6px;
    }
    .back-home-box img{
        margin-left: 5px;
    }
    .back-home-box .image-container a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .back-home-box .left-icon{
        left: 0%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: 1.3em;
        width: 1.3em;
    }
    .back-home-box .image-container a span{
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: rgba(31, 74, 233);
        /* margin-left:1em; */
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    .back-home-box .image-container{
        width: 90%;
        justify-content: space-around;
    }
    .back-home-box .image-container a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .back-home-box .image-container a span{
        font-size: 1.5em;
        font-weight: 500;
        margin-left:-4.6em;
    }
    .back-home-box .left-icon{
        left: -100%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: 1.8em;
        width: 1.8em;
    }


}
/* end here */

.dashboard-home-page{
    width: 100%;
    height: 100%;
    background-color: #f3f7fa;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
