.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .main > div:first-child {
    margin-bottom: 30px; /* Space below the ConnectButton */
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 600px; /* Adjust as needed */
  }
  
  .item {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .item button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .item button:hover {
    background-color: #ddd;
  }
  